<!DOCTYPE html>
<html>
    <head>
        <title>Cedus</title>
        <link rel="stylesheet" href="../../GitHub/Cedus/login.css" type="text/css" />
        <script src = "login.js"></script>
    </head>
    <body>

        <div class="split left">
            <div class="centered">
              <img src="text logo.png" width = "200" heigh = "200">

              <form method="POST" action="{% url 'login' %}">{% csrf_token %}
                <input type="text" placeholder="Username" name="username" required>  
                <input type="password" placeholder="Password" name="password" required>  
                <br>
                <input type="submit" id = "sub" value = "LOGIN">
              </form>
              
            </div>
          </div>
  
          <div class="split right">
            <div class="middle">
                <img src="Cedus Icon Whie.png" width = "500" heigh = "500">
            </div>
          </div>
    </body>
</html>