{% extends "main/admin_test.html" %}

{% block content %}
<!-- html template for dashboard information-->
			<form method = 'POST'>{% csrf_token %}
				<div class="page-content-wrapper">
					<div class="grid-item"><label>First Name</label></br>{{ userForm.first_name }}</div>
					<div class="grid-item"><label>Last Name</label></br>{{ userForm.last_name }}</div>
					<div class="grid-item"><label>Email</label></br>{{ userForm.email }}</div>
					<div class="grid-item"><label>Birthday</label></br>{{ form.birth_date }}</div>
					<div class="grid-item"><label>Phone Number </label></br>{{ form.phone_number }}</div>
					<div class="grid-item"><label>Street Address </label></br>{{ form.street_address }}</div>
					<div class="grid-item"><label>Apartment # </label></br>{{ form.apt }}</div>
  					<div class="grid-item"><label>City </label></br>{{ form.city }}</div>
					<div class="grid-item"><label>State </label></br>{{ form.state }}</div>
					<div class="grid-item"><label>Zip Code </label></br>{{ form.zip_code }}</div>
                    <button type="submit">Update</button>
                    {{ userForm.errors.email }}
					{{ form.errors.zip_code }}
				</div>
			</form>

<div class="row">
    <h2>Insurance Details</h2><br>

                <table class="table table-bordered table-sm">
                    <tbody>
                    		    {% for data in data %}
                    <tr>
                        <td>Insurance Name</td>
                        <td><b>{{ data.ins_name|default:"--" }}</b></td>
                    </tr>
                    <tr>
                        <td>Plan</td>
                        <td><b>{{ data.ins_plan|default:"--" }}</b></td>
                    </tr>

                    <tr>
                        <td>Rx Bin</td>
                         <td><b>{{ data.ins_rx_bin|default:"--"  }}</b></td>
                    </tr>

                    <tr>
                        <td>Rx Pcn</td>
                        <td><b>{{ data.ins_rx_pcn|default:"--" }}</b></td>
                    </tr>
                                 <tr>
                        <td>Rx Group</td>
                        <td><b>{{ data.ins_rx_group|default:"--" }}</b></td>
                    </tr>
                                <tr>
                        <td>Coverage</td>
                        <td><b>{{ data.ins_coverage|default:"--" }}</b></td>
                    </tr>
                                 <tr>
                                   <td><a href="{% url 'main:insurance_Edit' data.id %}"><button type="button">Update</button></a></td>
                                   <td></td>
                               </tr>

                   {% endfor %}

                    </tbody>
                </table>
     <h2>Allergy Details</h2><br>

                <table class="table table-bordered table-sm">
                    </tbody>
                    		    {% for data in allergies_data %}
                    <tr>
                        <td>Drug</td>
                        <td><b>{{ data.aller_drug|default:"--" }}</b></td>
                    </tr>
                    <tr>
                        <td>Level</td>
                        <td><b>{{ data.aller_severity|default:"--" }}</b></td>
                    </tr>

                   {% endfor %}

                    </tbody>

                </table>
            </div>

{% endblock %}
