{% extends "main/admin_test.html" %}

{% block content %}
<!-- html template for diagnosis information-->
{% load auth_extras %}
{% load static %}
<h2>Diagnosis</h2><br>
 <div class="col-md-6">
 <form action="{% url 'main:admin_diagnosis' %}" method="post">
    {% csrf_token %}
<h3>From Date:<input type="date" name="fromdate">
To Date:<input type="date" name="todate">
    <input type="submit" value="Search"></h3>
 </form>
<div>
    {% for message in messages %}
            <h3 class="{{ message.tags }}">
            {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
            </h3>
            {% endfor %}
<hr>


                <div class="col-md-12">


                        <div class="col-md-12">
                            <h5>Search by Date(YYYY-MM-DD): <input class="form-control" type="text"
                                   placeholder=" Search" name="Search"
                                   id="searchField">
                            </h5>
                            {% csrf_token %}
                        </div>

                </div>
<div class="refresh">
<a href="{%  url 'main:admin_diagnosis' %}"><img src="{% static 'images/refresh.png' %}" width = "30" height = "30"></a></div>
            <hr>
     <div id="apptable">
         {% if request.user|has_group:"Doctor" %}
             <a href="{% url 'main:add_diag' %}" role="button"><img src="{% static 'images/add.png' %}" width = "50" height = "50"></a>
         {% endif %}
<table>
    <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Comments</th>
    </tr>
    {% for item in pag_obj %}
    <tr>
        <td>{{ item.diagnosis_date }}</td>
        <td>{{ item.diagnosis_status }}</td>
        <td>{{ item.diagnosis_comment }}</td>
        {% if request.user|has_group:"Doctor" %}
        <td>
            <a href="{% url 'main:edit_diag' item.pk %}" role="button"><img src="{% static 'images/edit.png' %}" width = "20" height = "20"></a>
        </td>
        {% endif %}
        {% if request.user|has_group:"Doctor" %}
        <td>
            <a href="{% url 'main:delete_diag' item.pk %}" role="button"><img src="{% static 'images/delete.png' %}" width = "20" height = "20"></a>
        </td>
        {% endif %}
    </tr>
         {% empty %}
    <tr>
        <td>No Data Found</td>

    </tr>
    {% endfor %}
</table>

</div>
    <div id="outputtable">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
              <th>Date</th>
            <th>Status</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody id="outputtablebody">
        </tbody>

    </table>
</div>
<br>

<div  id="paginationcontainer">
   <h3> Viewing Page {{ pag_obj.number }} of {{ pag_obj.paginator.num_pages }}</h3>

     {% if pag_obj.has_other_pages %}
  <ul class="list">
    {% if pag_obj.has_previous %}
      <li><a class="paging" class="btn btn-dark" href="?page={{ pag_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in pag_obj.paginator.page_range %}
      {% if usepag_objrs.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a class="paging" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if pag_obj.has_next %}
      <li><a class="paging" class="btn btn-dark" href="?page={{ pag_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
<script src="{% static 'js/admin_search_diagnosis.js' %}"></script>
{% endblock %}
