{% extends "main/admin_test.html" %}

{% block content %}

{% load auth_extras %}
{% load static %}
<h2>Appointments</h2><br>
<div class="col-md-6">
<form action="{% url 'main:admin_appt' %}" method="post">
    {% csrf_token %}
        <h3>From Date:<input type="date" name="fromdate">
            To Date:<input type="date" name="todate">
            <input type="submit" value="Search"></h3>
 </form>
    <div>
            <hr>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <h5>Search by Date(YYYY-MM-DD): <input class="form-control" type="text" placeholder=" Search" name="Search" id="searchField">
                        </h5>
                        {% csrf_token %}
                        </div>
                </div>
				<div class="refresh">
<a href="{%  url 'main:admin_appt' %}"><img src="{% static 'images/refresh.png' %}" width = "30" height = "30"></a></div>
<hr>
<div id="apptable">
<table class="table table-bordered table-striped">
    <tr>
        <th>Appointment Date</th>
        <th>Appointment Time</th>
        <th>Doctor Name</th>
        <th>Comments</th>
    </tr>
    {% for item in pag_obj %}
    <tr>
        <td>{{ item.appointment_date }}</td>
        <td>{{ item.appointment_time }}</td>
        <td>{{ item.doctor_name }}</td>
        <td>{{ item.appointment_comments }}</td>

        <td>
            <a href="{% url 'main:edit_appointments' item.pk %}" role="button"><img src="{% static 'images/edit.png' %}" width = "20" height = "20"></a>
            </td>
        {% endif %}
        {% if request.user|has_group:"Patient" %}
            <td>
                <a href="{% url 'main:delete_appointments' item.pk %}" role="button"><img src="{% static 'images/delete.png' %}" width = "20" height = "20"></a>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</div>
        <br>
<div id="paginationcontainer">
    <h3> Viewing Page {{ pag_obj.number }} of {{ pag_obj.paginator.num_pages }}</h3>

    {% if pag_obj.has_other_pages %}
    <ul class="list">

        {% if pag_obj.has_previous %}
        <li><a class="paging" class="btn btn-dark" href="?page={{ pag_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in pag_obj.paginator.page_range %}
        {% if usepag_objrs.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a class="paging" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if pag_obj.has_next %}
        <li><a class="paging" class="btn btn-dark" href="?page={{ pag_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</div>

<script src="{% static 'js/admin_search_appointments.js' %}"></script>

{% endblock %}
