{% extends "main/test.html" %}

{% block content %}

{% load auth_extras %}
{% load static %}
<h2>Appointments</h2><br>

<table>
    <tr>
        <th>Appointment Date</th>
        <th>Appointment Time</th>
        <th>Doctor Name</th>
        <th>Comments</th>
    </tr>
    {% for item in form %}
    <tr>
        <td>{{ item.appointment_date }}</td>
        <td>{{ item.appointment_time }}</td>
        <td>{{ item.doctor_name }}</td>
        <td>{{ item.appointment_comments }}</td>

        <td>
            <a href="{% url 'main:edit_appointments' item.pk %}" role="button"><img src="{% static 'images/edit.png' %}" width = "20" height = "20"></a>
        </td>
        {% if request.user|has_group:"Patient" %}
            <td>
                <a href="{% url 'main:delete_appointments' item.pk %}" role="button"><img src="{% static 'images/delete.png' %}" width = "20" height = "20"></a>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
