{% extends "main/test.html" %}

{% block content %}
<!-- html template for diagnosis information-->
{% load auth_extras %}
{% if request.user|has_group:"Patient" %}
      <td>
          <a href="{% url 'main:add_diag' %}" role="button">Add</a>
      </td>
{% endif %}
<table>

    <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Comments</th>
    </tr>
    {% for item in diag_data %}
    <tr>
        <td>{{ item.diagnosis_date }}</td>
        <td>{{ item.diagnosis_status }}</td>
        <td>{{ item.diagnosis_comment }}</td>
        {% if request.user|has_group:"Doctor" %}
            <td>
                <a href="{% url 'main:edit_diag' item.pk %}" role="button">Edit</a>
            </td>
        {% endif %}
        {% if request.user|has_group:"Patient" %}
            <td>
                <a href="{% url 'main:delete_diag' item.pk %}" role="button">Delete</a>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
