{% extends "main/test.html" %}

{% block content %}

{% load auth_extras %}
{% load static %}
{% if request.user|has_group:"Patient" %}
      <td>
          <a href="{% url 'main:add_records' %}" role="button">Add</a>
      </td>
{% endif %}
<!-- html template for records information-->
<h2>Appointments</h2></br>
<table>
    <tr>
        <th>Date</th>
        <th>Purpose</th>
    </tr>
    {% for item in app_data %}
    <tr>
        <td>{{ item.appointment_date }}</td>
        <td>{{ item.appointment_comments }}</td>
    </tr>
    {% endfor %}
</table>
</br><h2>Billing</h2></br>

<table>
    <tr>
        <th>Bill ID</th>
        <th>Charge Date</th>
        <th>Doctor Charge</th>
        <th>Medical Charge</th>
        <th>Room Charge</th>
        <th>Surgery Charge</th>
        <th>Admission Days</th>
        <th>Nursing Charges</th>
        <th>Advance</th>
        <th>Test Charges</th>
        <th>TOTAL AMOUNT</th>
        <th>Payment Date</th>
        <th>Payment Amount</th>
        <th>Insurance Co-Pay</th>
        <th>BALANCE</th>
    </tr>
    {% for item in billData %}
    <tr>
        <td>{{ item.bill_id }}</td>
        <td>{{ item.charge_date }}</td>
        <td>{{ item.doc_charges }}</td>
        <td>{{ item.medi_charges }}</td>
        <td>{{ item.room_charges }}</td>
        <td>{{ item.surgery_charges }}</td>
        <td>{{ item.admission_days }}</td>
        <td>{{ item.nursing_charges }}</td>
        <td>{{ item.advance }}</td>
        <td>{{ item.test_charges }}</td>
        <td>{{ item.bill_amount }}</td>
        <td>{{ item.pay_date }}</td>
        <td>{{ item.pay_amount }}</td>
        <td>{{ item.ins_copay }}</td>
        <td>{{ item.balance }}</td>
        {% if request.user|has_group:"Patient" %}
            <td>
                <a href="{% url 'main:edit_records' item.pk %}" role="button"><img src="{% static 'images/edit.png' %}" width = "20" height = "20"></a>
            </td>
        {% endif %}
        {% if request.user|has_group:"Patient" %}
            <td>
                <a href="{% url 'main:delete_records' item.pk %}" role="button">Delete</a>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<!--</br><h2>Payments</h2></br>
<table>
    <tr>
        <th>Payment Date</th>
        <th>Payment Amount</th>
        <th>Insurance Co-Pay</th>
        <th>Description</th>
        <th>Pay Location</th>
    </tr>
    {% for item in payData %}
    <tr>
        <td>{{ item.pay_date }}</td>
        <td>{{ item.pay_amount }}</td>
        <td>{{ item.ins_copay }}</td>
        <td>{{ item.pay_description }}</td>
        <td>{{ item.pay_location }}</td>
    </tr>
    {% endfor %}
</table>-->
{% endblock %}
