{% extends "main/test.html" %}

{% block content %}

{% load auth_extras %}

{% if request.user|has_group:"Patient" %}
      <td>
          <a href="{% url 'main:add_prescription' %}" role="button">Add</a>
      </td>
{% endif %}
<!-- html template for prescription information-->
<table>
    <tr>
        <th>Date</th>
        <th>Rx Name</th>
        <th>Rx Dosage</th>
        <th>Rx Sig</th>
        <th>Comments</th>
    </tr>
    {% for item in pdata %}
    <tr>
        <td>{{ item.rx_date }}</td>
        <td>{{ item.rx_name }}</td>
        <td>{{ item.rx_dosage }}</td>
        <td>{{ item.rx_sig }}</td>
        <td>{{ item.vt_comments }}</td>
        {% if request.user|has_group:"Doctor" %}
            <td>
                <a href="{% url 'main:edit_prescription' item.pk %}" role="button">Edit</a>
            </td>
        {% endif %}
        {% if request.user|has_group:"Patient" %}
            <td>
                <a href="{% url 'main:delete_prescription' item.pk %}" role="button">Delete</a>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
