{% extends "main/test.html" %}

{% block content %}
<table>
    <tr>
        <th>Date</th>
        <th>Blood Type</th>
        <th>BP (sys)</th>
        <th>BP (dias)</th>
        <th>WBC</th>
        <th>RBC</th>
        <th>Ht</th>
        <th>Wt</th>
        <th>Comments</th>
    </tr>
    {% for item in form %}
    <tr>
        <td>{{ item.vt_date }}</td>
        <td>{{ item.vt_bloodgroup }}</td>
        <td>{{ item.vt_bp_sys }}</td>
        <td>{{ item.vt_bp_dia }}</td>
        <td>{{ item.vt_wbc }}</td>
        <td>{{ item.vt_rbc }}</td>
        <td>{{ item.vt_height }}</td>
        <td>{{ item.vt_weight }}</td>
        <td>{{ item.vt_comments }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}