{% extends "main/test.html" %}

{% block content %}

{% load auth_extras %}
<!-- html template for vitals information-->
{% load static %}
  <div class="col-md-6">
<form action="{% url 'main:vitals' %}" method="post">
    {% csrf_token %}
        <h3>From Date:<input type="date" name="fromdate">
            To Date:<input type="date" name="todate">
            <input type="submit" value="Search"></h3>
 </form>
        <div>
            <hr>

                <div class="col-md-12">



                        <div class="col-md-12">
                            <h5>Search by Date(YYYY-MM-DD): <input class="form-control" type="text"
                                   placeholder=" Search" name="Search"
                                   id="searchField">
                            </h5>
                            {% csrf_token %}
                        </div>

                </div>
				<div class="refresh">
<a href="{%  url 'main:vitals' %}"><img src="{% static 'images/refresh.png' %}" width = "30" height = "30"></a></div>
            <hr>
            <div id="apptable">
                <table class="table table-bordered table-striped">
                    <tr>

                        <th>Date</th>
                        <th>Blood Type</th>
                        <th>BP(sys)</th>
                        <th>BP(dias)</th>
                        <th>WBC</th>
                        <th>RBC</th>
                        <th>Height</th>
                        <th>Weight</th>
                        <th>Comments</th>
                        <th>Action</th>
                    </tr>
                    {% for item in pag_obj %}

                    <tr>

                        <td>{{ item.vt_date|default:"--" }}</td>
                        <td>{{ item.vt_bloodgroup|default:"" }}</td>
                        <td>{{ item.vt_bp_sys|default:"" }}</td>
                        <td>{{ item.vt_bp_dia|default:"" }}</td>
                        <td>{{ item.vt_wbc|default:"" }}</td>
                        <td>{{ item.vt_rbc|default:"" }}</td>
                        <td>{{ item.vt_height|default:"" }}</td>
                        <td>{{ item.vt_weight|default:"" }}</td>
                        <td>{{ item.vt_comments|default:"" }}</td>
                        <td><a href="#" class="paging" class="btn btn-md  bg-light-blue text-white"><img src="{% static 'images/edit.png' %}" width = "20" height = "20"></a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>No Data Found</td>

                    </tr>
                    {% endfor %}
                </table>

</div>
</div>
<div id="outputtable">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Patient Username</th>
            <th>Date</th>
            <th>Blood Type</th>
            <th>BP(sys)</th>
            <th>BP(dias)</th>
            <th>WBC</th>
            <th>RBC</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Comments</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="outputtablebody">
        </tbody>
    </table>
</div>
<br>
<div id="paginationcontainer">
    <h3> Viewing Page {{ pag_obj.number }} of {{ pag_obj.paginator.num_pages }}</h3>

    {% if pag_obj.has_other_pages %}
    <ul class="list">

        {% if pag_obj.has_previous %}
        <li><a class="paging" class="btn btn-dark" href="?page={{ pag_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in pag_obj.paginator.page_range %}
        {% if usepag_objrs.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a class="paging" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if pag_obj.has_next %}
        <li><a class="paging" class="btn btn-dark" href="?page={{ pag_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</div>

<script src="{% static 'js/search_vitals.js' %}"></script>
{% endblock %}
